:root {
    --container-width: 1200px;
    --container-padding: 20px;

    --color-bg-primary: #FFF;
    --color-text-primary: #333;
    --color-btn-bg-primary: #333;
    --color-btn-border-primary: #333;
    --color-btn-text-primary: #FFF;
}